<div class='container container-msg' id='msgContainer'>
  <h3 class='text-center'>Chat</h3>
  <input type='text' id='chat-box' name='chatbox' class='form-control mt-3 mb-3' placeholder='Press Enter to send' />
  <p class='linea' id='message'>Loading...</p>
</div>

<script src='/socket.io/socket.io.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
<script src='/js/chat.js'></script>