<h1>Perfil</h1>
email:
{{user.email}}
<br />
isAdmin:
{{user.isAdmin}}
<br />
Cart:
{{user.cart}}
<br />

<a href='/products'><button>ir a Productos</button></a>
<br />
<a href='/auth/logout'><button>Salir</button></a>
<br />